%h2= "rake #{@task_name}"
%form{ :action => "/#{@task_name}", :method => 'POST' }
  %input{ :type => "submit", :value => "Execute" }

%form{ :action => "/#{@task_name}.json", :method => 'POST' }
  %input{ :type => "submit", :value => "Execute (JSON Response)" }
